body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #1c1e29;
  color: #ffffff;
}

code {
  font-family: "Fira Code", Menlo, Monaco, Consolas, monospace;
  font-size: 14px;
}
